In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
import matplotlib as plt

In [9]:
import math

In [10]:
import operator

In [11]:
import seaborn as sns

In [12]:
#import des données dans dataframe pandas
#df = pd.read_csv( "\\\BBOX\Elements\MyFiles\Fabrice\datascience\data\iris.data" )
iris = sns.load_dataset('iris')

In [22]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
iris.count()

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64

In [3]:
# Séparation target / features matrix

X_iris = iris.drop('species', axis = 1 )
y_iris = iris.species

NameError: name 'iris' is not defined

In [17]:
# Découpage des données : entrainement / test

from sklearn.cross_validation import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split( X_iris , y_iris , random_state = 1 )

C:\Users\User\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [19]:
# Choix de la classe de modèle

from sklearn.naive_bayes import GaussianNB

# Instanciation

model = GaussianNB()

# Entrainement ( "fit model to data" )

model.fit(Xtrain, ytrain)

# Prédictions ( sur nouveaux individus : Xtest )

y_model = model.predict(Xtest)

In [20]:
# Fraction des labels dont la valeur prédite est identique à la valeur réelle

from sklearn.metrics import accuracy_score

accuracy_score(ytest, y_model)

0.9736842105263158