https://machinelearningmastery.com/columntransformer-for-numerical-and-categorical-data/

In [2]:
from pandas import read_csv

https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.names

In [7]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv'

df = read_csv( url , header = None )

In [8]:
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [10]:
df.columns = [ 'Sex' , 'Length' , 'Diameter' , 'Height' , 'Whole weight' , 'Shucked weight' , 
               'Viscera weight' , 'Shell weight' , 'Rings' ]

In [11]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [12]:
df.shape

(4177, 9)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [36]:
X = df[ [ 'Sex' , 'Length' , 'Diameter' , 'Height' , 'Whole weight' , 'Shucked weight' ,  'Viscera weight' , 'Shell weight' ] ]

y = df[ 'Rings' ]

## Colonnes numériques

In [39]:
numerical_ix = X.select_dtypes( include = [ 'int64' , 'float64' ] ).columns

print( numerical_ix )

Index(['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight'],
      dtype='object')

## Colonnes catégorielles

In [41]:
categorical_ix = X.select_dtypes( include = [ 'object' , 'bool' ] ).columns

print( categorical_ix )

Index(['Sex'], dtype='object')

## <div class="alert alert-block alert-danger">Transformer</div>

In [42]:
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import MinMaxScaler

from sklearn.compose import ColumnTransformer

In [53]:
transformers = [ ( 'cat_col' , OneHotEncoder() , categorical_ix ) ,              
                 ( 'cat_num' , MinMaxScaler() , numerical_ix )  ]

col_transform = ColumnTransformer( transformers = transformers , remainder = 'passthrough' )

## Pipeline

In [54]:
from sklearn.svm import SVR

In [55]:
model = SVR( kernel = 'rbf' , gamma = 'scale' , C = 100 )

In [56]:
from sklearn.pipeline import Pipeline

In [57]:
steps = [ ( 'col_transform' , col_transform ) ,
          ( 'model' , model ) ]

pipeline = Pipeline( steps = steps )

In [58]:
from sklearn.model_selection import KFold

In [59]:
cv = KFold( n_splits = 10 , shuffle = True , random_state = 999 )

In [60]:
from sklearn.model_selection import cross_val_score

In [61]:
from numpy import absolute

In [62]:
scores = cross_val_score( pipeline , X , y , scoring = 'neg_mean_absolute_error' , cv = cv , n_jobs = -1 ) 

scores = abs( scores )

In [63]:
from numpy import mean

from numpy import std

In [64]:
print( f'MAE : {mean( scores ):.3f} ( {std( scores ):.3f} )' )

MAE : 1.464 ( 0.090 )