In [4]:
# Créer une fonction :

def add(x, y):
    print ( "x is {0} and y is {1}".format(x, y) )
    z = x + y
    return x + y  # Return values with a return statement

In [7]:
z = add( 2 , 5 ) 
print( "x+y = {0}".format(z) )

x is 2 and y is 5
x+y = 7

In [8]:
dic = { "tristan" : 1 , "juliette" : 2 }

In [9]:
print( dic )

{'tristan': 1, 'juliette': 2}

In [10]:
dic["juliette"]

2

In [11]:
dic.keys()

dict_keys(['tristan', 'juliette'])

In [12]:
dic.values()

dict_values([1, 2])

In [13]:
dic.items()

dict_items([('tristan', 1), ('juliette', 2)])

In [14]:
dic.get('juliette')

2

In [15]:
# ajout d'une entrée dans le dictionnaire (si pas déjà existante)
dic.setdefault('stephanie' , 3 )

3

In [16]:
print( dic )

{'tristan': 1, 'juliette': 2, 'stephanie': 3}

In [17]:
n = 5

if n < 5 :
    print( "OK")
elif n>= 5 :
    print( "KO")

KO

In [19]:
for animal in ["dog", "cat", "mouse"]:
    print( "{0} is a mammal".format(animal) )

dog is a mammal
cat is a mammal
mouse is a mammal

In [21]:
for i in range(4):
    print( i )

0
1
2
3

In [22]:
for i in range( 1 , 4 ):
    print( i )

1
2
3

In [26]:
x = 0

while x < 4 :
    print( x )
    x += 1

0
1
2
3

In [52]:
# Fonctions : 

#définition

def add_10( x ) :
    y = x + 10
    return y

#appel

add_10(5)

15

In [36]:
[add_10(i) for i in [1, 2, 3]]

[11, 12, 13]

In [55]:
# Appliquer fonction add_10 à chaque élément de [ 1 , 2 , 3 ]

# list pour affichage du résultat sous forme de liste

list( map( add_10  , [ 1 , 2 , 3 ] ) )

[3, 5]

In [56]:
# Appliquer fonction max à chaque paire d'élément de [ 2 , 5 ] et [ 3 , 1 ]
# max( 2 , 3 ) et max( 5 , 1 )

list( map( max , [ 2 , 5 ] , [ 3 , 1 ]) )

[3, 5]

In [57]:
# Modules :

import math as m

#fonctions et attributs d'un module
dir( m )

In [39]:
# Anonymous functions :

(lambda x : x > 2 ) ( 4 )

True

In [49]:
( lambda a , b , c : b**2 - 4*a*c ) ( 1 , 2 , 3 )

-8

In [50]:
 # variable number of positional arguments

def varargs( *args ):
    return args
    
varargs( 'a' , 'b' , 'c' , 'd' )

('a', 'b', 'c', 'd')

In [51]:
# variable number of keyword arguments

def kw_args( **kwargs ):
    return kwargs  # en sortie dictionnaire

kw_args( x = 1 , y = 2)

{'x': 1, 'y': 2}