In [18]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [19]:
# Randomforest : hyperparameters

n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]

print( 'n_estimators :' , n_estimators )

max_features = ['auto', 'sqrt']

print( 'max_features :' , max_features )

('n_estimators :', [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000])
('max_features :', ['auto', 'sqrt'])

In [20]:
from sklearn.ensemble import RandomForestRegressor

In [21]:
rf = RandomForestRegressor(random_state = 42)

In [22]:
from pprint import pprint

pprint(rf.get_params())

{'bootstrap': True,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': 1,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [23]:
# Hyper parameters grid

random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               }
pprint(random_grid)

{'max_features': ['auto', 'sqrt'],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [24]:
# Dataframe

xl = pd.ExcelFile("D:/Fabrice/datascience/fbo_test_py.xlsx")

print(xl.sheet_names)

df = xl.parse('Feuil1')

[u'Feuil1', u'Feuil2', u'Feuil3']

In [35]:
df.head()

   AGE  SALES  LOAN  GENDER_F  GENDER_M
0   38   25.0     1         0         1
1   30   24.0     1         1         0
2   74   27.0     1         1         0
3   65   23.0     1         0         1
4   49   21.0     1         0         1

In [34]:
df = df.drop('ID', axis = 1)

In [26]:
df['GENDER'].fillna( df['GENDER'].mode()[0] , inplace=True )

In [29]:
df['SALES'].fillna( df['SALES'].mean() , inplace=True )

In [31]:
# One Hot Encoding# One H 
df = pd.get_dummies(df)

In [36]:
df.head(20)

    AGE       SALES  LOAN  GENDER_F  GENDER_M
0    38   25.000000     1         0         1
1    30   24.000000     1         1         0
2    74   27.000000     1         1         0
3    65   23.000000     1         0         1
4    49   21.000000     1         0         1
5    41   29.000000     1         1         0
6    43   61.142857     0         1         0
7    32   21.000000     1         0         1
8    46   23.000000     1         0         1
9    62   26.000000     0         0         1
10   72   25.000000     1         0         1
11   58   61.142857     0         0         1
12   51   25.000000     1         1         0
13   26   30.000000     1         0         1
14   57  526.000000     0         1         0
15   25   31.000000     1         1         0

In [38]:
# features & lables

df_lbl = df['LOAN']

df_feat = df.drop( 'LOAN' , axis = 1 )

   AGE  SALES  GENDER_F  GENDER_M
0   38   25.0         0         1
1   30   24.0         1         0

In [39]:
df_feat = np.array( df_feat )
df_lbl = np.array( df_lbl )

In [41]:
df_lbl

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1], dtype=int64)

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(train_features, train_labels)