# <center><font color = orange>PACKAGE : xverse</font></center>

https://github.com/Sundar0989/XuniVerse/blob/master/Xverse.ipynb

## 0 - Packages

In [2]:
import pandas as pd

In [140]:
from xverse.feature_subset import FeatureSubset

from xverse.feature_subset import SplitXY

from xverse.transformer import MonotonicBinning

from xverse.transformer import WOE

from xverse.ensemble import VotingSelector

## 0 - Fonction

In [71]:
def create_Xy( ) :
    
    df = pd.read_csv( 'https://raw.githubusercontent.com/Sundar0989/XuniVerse/master/data/bank.csv'  , sep = '|' , header = 0 , error_bad_lines=False )
    
    # df avec uniquement colonnes numÃ©riques :
    num_col = list( df._get_numeric_data().columns ) 
    fsub = FeatureSubset( num_col )
    df = fsub.fit_transform( df )
    
    # df -> X , y :
    Xy = SplitXY( [ 'target' ] )
    X , y = Xy.fit_transform( df )
    
    return X , y

## I - Monotonic binning

In [129]:
X , y = create_Xy()

In [130]:
mono_bng = MonotonicBinning()

mono_bng.fit( X , y )

MonotonicBinning(cardinality_cutoff=5, custom_binning=None,
         feature_names='all', force_bins=4, max_bins=20, prefix=None)

In [131]:
out_bins = mono_bng.bins

print( out_bins )

{'age': array([19., 35., 45., 87.]), 'balance': array([-3313.        ,   174.        ,   979.33333333, 71188.        ]), 'campaign': array([ 1.,  3., 50.]), 'day': array([ 1., 12., 20., 31.]), 'duration': array([   4.        ,  128.        ,  261.33333333, 3025.        ]), 'pdays': array([-1.00e+00, -5.00e-01,  1.00e+00,  8.71e+02]), 'previous': array([ 0.,  1., 25.])}

In [132]:
X_mono_bng = mono_bng.transform( X )

X_mono_bng.head()

,age,balance,campaign,day,duration,pdays,previous
0,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(12.0, 20.0]","(3.999, 128.0]","(-1.001, -0.5]","(-0.001, 1.0]"
1,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(0.999, 12.0]","(128.0, 261.333]","(1.0, 871.0]","(1.0, 25.0]"
2,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(12.0, 20.0]","(128.0, 261.333]","(1.0, 871.0]","(-0.001, 1.0]"
3,"(18.999, 35.0]","(979.333, 71188.0]","(3.0, 50.0]","(0.999, 12.0]","(128.0, 261.333]","(-1.001, -0.5]","(-0.001, 1.0]"
4,"(45.0, 87.0]","(-3313.001, 174.0]","(0.999, 3.0]","(0.999, 12.0]","(128.0, 261.333]","(-1.001, -0.5]","(-0.001, 1.0]"

In [134]:
X_new , y_new = create_Xy()

mono_bng = MonotonicBinning( out_bins )

mono_bng.fit( X , y )

X_new_tsf = mono_bng.transform( X_new )

X_new_tsf.head()

,age,balance,campaign,day,duration,pdays,previous
0,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(12.0, 20.0]","(3.999, 128.0]","(-1.001, -0.5]","(-0.001, 1.0]"
1,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(0.999, 12.0]","(128.0, 261.333]","(1.0, 871.0]","(1.0, 25.0]"
2,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(12.0, 20.0]","(128.0, 261.333]","(1.0, 871.0]","(-0.001, 1.0]"
3,"(18.999, 35.0]","(979.333, 71188.0]","(3.0, 50.0]","(0.999, 12.0]","(128.0, 261.333]","(-1.001, -0.5]","(-0.001, 1.0]"
4,"(45.0, 87.0]","(-3313.001, 174.0]","(0.999, 3.0]","(0.999, 12.0]","(128.0, 261.333]","(-1.001, -0.5]","(-0.001, 1.0]"

## II - Woe

In [123]:
X , y = create_Xy()

In [124]:
woe = WOE( woe_prefix = 'woe' )

woe.fit( X , y )

WOE(exclude_features=None, feature_names='all', mono_cardinality_cutoff=5,
  mono_custom_binning={'age': array([19., 35., 45., 87.]), 'balance': array([-3313.     ,   174.     ,   979.33333, 71188.     ]), 'campaign': array([ 1.,  3., 50.]), 'day': array([ 1., 12., 20., 31.]), 'duration': array([   4.     ,  128.     ,  261.33333, 3025.     ]), 'pdays': array([-1.00e+00, -5.00e-01,  1.00e+00,  8.71e+02]), 'previous': array([ 0.,  1., 25.])},
  mono_feature_names='all', mono_force_bins=3, mono_max_bins=20,
  mono_prefix=None, monotonic_binning=True, treat_missing='separate',
  woe_bins={'age': {Interval(18.999, 35.0, closed='right'): 0.038742147481056366, Interval(35.0, 45.0, closed='right'): -0.2399610313340142, Interval(45.0, 87.0, closed='right'): 0.15200725211484276}, 'balance': {Interval(-3313.001, 174.0, closed='right'): -0.3004651512228873, Interval(174.0, 979.333,...1.0, closed='right'): -0.19021717277615902, Interval(1.0, 25.0, closed='right'): 0.944712445883224}},
  woe_prefix='woe')

In [113]:
woe.woe_df.head(10)

,Variable_Name,Category,Count,Event,Non_Event,Event_Rate,Non_Event_Rate,Event_Distribution,Non_Event_Distribution,WOE,Information_Value
0,age,"(18.999, 35.0]",1652,197,1455,0.119249,0.880751,0.378119,0.36375,0.038742,0.024693
1,age,"(35.0, 45.0]",1388,129,1259,0.092939,0.907061,0.247601,0.31475,-0.239961,0.024693
2,age,"(45.0, 87.0]",1481,195,1286,0.131668,0.868332,0.374280,0.32150,0.152007,0.024693
3,balance,"(-3313.001, 174.0]",1512,133,1379,0.087963,0.912037,0.255278,0.34475,-0.300465,0.061574
4,balance,"(174.0, 979.333]",1502,163,1339,0.108522,0.891478,0.312860,0.33475,-0.067629,0.061574
5,balance,"(979.333, 71188.0]",1507,225,1282,0.149303,0.850697,0.431862,0.32050,0.298223,0.061574
6,campaign,"(0.999, 3.0]",3556,435,3121,0.122328,0.877672,0.834933,0.78025,0.067737,0.019351
7,campaign,"(3.0, 50.0]",965,86,879,0.089119,0.910881,0.165067,0.21975,-0.286138,0.019351
8,day,"(0.999, 12.0]",1639,197,1442,0.120195,0.879805,0.378119,0.36050,0.047717,0.002816
9,day,"(12.0, 20.0]",1574,170,1404,0.108005,0.891995,0.326296,0.35100,-0.072983,0.002816

In [106]:
woe.iv_df

  Variable_Name  Information_Value
4      duration           1.160680
5         pdays           0.203267
6      previous           0.177081
1       balance           0.061574
0           age           0.024693
2      campaign           0.019351
3           day           0.002816

In [125]:
out_woe_bins = woe.woe_bins

print( out_woe_bins )

{'age': {Interval(18.999, 35.0, closed='right'): 0.038742147481056366, Interval(35.0, 45.0, closed='right'): -0.2399610313340142, Interval(45.0, 87.0, closed='right'): 0.15200725211484276}, 'balance': {Interval(-3313.001, 174.0, closed='right'): -0.3004651512228873, Interval(174.0, 979.333, closed='right'): -0.06762854653574929, Interval(979.333, 71188.0, closed='right'): 0.2982233630724655}, 'campaign': {Interval(0.999, 3.0, closed='right'): 0.06773688716656528, Interval(3.0, 50.0, closed='right'): -0.28613800308300846}, 'day': {Interval(0.999, 12.0, closed='right'): 0.0477170092417549, Interval(12.0, 20.0, closed='right'): -0.07298254918683383, Interval(20.0, 31.0, closed='right'): 0.024262753694244996}, 'duration': {Interval(3.999, 128.0, closed='right'): -1.9750759013397727, Interval(128.0, 261.333, closed='right'): -0.5230487469392816, Interval(261.333, 3025.0, closed='right'): 0.9756403270893023}, 'pdays': {Interval(-1.001, -0.5, closed='right'): -0.26369184666119494, Interval(-0.5, 1.0, closed='right'): 0.0, Interval(1.0, 871.0, closed='right'): 0.7934168912785986}, 'previous': {Interval(-0.001, 1.0, closed='right'): -0.19021717277615902, Interval(1.0, 25.0, closed='right'): 0.944712445883224}}

In [126]:
out_mono_bins = woe.mono_custom_binning

print( out_mono_bins )

{'age': array([19., 35., 45., 87.]), 'balance': array([-3313.        ,   174.        ,   979.33333333, 71188.        ]), 'campaign': array([ 1.,  3., 50.]), 'day': array([ 1., 12., 20., 31.]), 'duration': array([   4.        ,  128.        ,  261.33333333, 3025.        ]), 'pdays': array([-1.00e+00, -5.00e-01,  1.00e+00,  8.71e+02]), 'previous': array([ 0.,  1., 25.])}

In [127]:
X_woe_tsf = woe.transform( X )

X_woe_tsf.head()

,age,balance,campaign,day,duration,pdays,previous,woe_previous,woe_balance,woe_day,woe_pdays,woe_duration,woe_campaign,woe_age
0,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(12.0, 20.0]","(3.999, 128.0]","(-1.001, -0.5]","(-0.001, 1.0]",-0.190217,0.298223,-0.072983,-0.263692,-1.975076,0.067737,0.038742
1,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(0.999, 12.0]","(128.0, 261.333]","(1.0, 871.0]","(1.0, 25.0]",0.944712,0.298223,0.047717,0.793417,-0.523049,0.067737,0.038742
2,"(18.999, 35.0]","(979.333, 71188.0]","(0.999, 3.0]","(12.0, 20.0]","(128.0, 261.333]","(1.0, 871.0]","(-0.001, 1.0]",-0.190217,0.298223,-0.072983,0.793417,-0.523049,0.067737,0.038742
3,"(18.999, 35.0]","(979.333, 71188.0]","(3.0, 50.0]","(0.999, 12.0]","(128.0, 261.333]","(-1.001, -0.5]","(-0.001, 1.0]",-0.190217,0.298223,0.047717,-0.263692,-0.523049,-0.286138,0.038742
4,"(45.0, 87.0]","(-3313.001, 174.0]","(0.999, 3.0]","(0.999, 12.0]","(128.0, 261.333]","(-1.001, -0.5]","(-0.001, 1.0]",-0.190217,-0.300465,0.047717,-0.263692,-0.523049,0.067737,0.152007

In [138]:
X_new , y_new = create_Xy()

woe = WOE( woe_bins = out_woe_bins , mono_custom_binning = out_mono_bins )

X_new_tsf = woe.transform( X_new )

X_new_tsf.head()

        age   balance  campaign       day  duration     pdays  previous
0  0.038742  0.298223  0.067737 -0.072983 -1.975076 -0.263692 -0.190217
1  0.038742  0.298223  0.067737  0.047717 -0.523049  0.793417  0.944712
2  0.038742  0.298223  0.067737 -0.072983 -0.523049  0.793417 -0.190217
3  0.038742  0.298223 -0.286138  0.047717 -0.523049 -0.263692 -0.190217
4  0.152007 -0.300465  0.067737  0.047717 -0.523049 -0.263692 -0.190217

## III - Voting selector

In [141]:
X , y = create_Xy()

In [142]:
vot = VotingSelector()

vot.fit( X , y )

/opt/anaconda/envs/metier/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/anaconda/envs/metier/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/anaconda/envs/metier/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/anaconda/envs/metier/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/anaconda/envs/metier/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/anaconda/envs/metier/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/anaconda/envs/metier/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/anaconda/envs/metier/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

VotingSelector(exclude_features=None, feature_names='all',
        handle_category='woe', minimum_votes=0, no_of_features=3,
        numerical_missing_values='median',
        selection_techniques=['WOE', 'RF', 'RFE', 'ETC', 'CS', 'L_ONE'])

In [144]:
vot.feature_importances_

,Variable_Name,Information_Value,Random_Forest,Recursive_Feature_Elimination,Extra_Trees,Chi_Square,L_One
0,duration,1.160680,0.372702,0.000000,0.324609,62.530456,0.000957
1,pdays,0.203267,0.082175,0.000000,0.060735,13.808926,0.000342
2,previous,0.177081,0.034835,0.136698,0.054519,13.019278,0.022466
3,balance,0.061574,0.177191,0.000000,0.167218,0.037203,0.000003
4,age,0.024693,0.148071,0.011245,0.162624,0.681895,-0.001404
5,campaign,0.019351,0.051492,-0.092837,0.087166,1.859657,-0.016405
6,day,0.002816,0.133534,0.000000,0.143129,0.086877,-0.001682

In [145]:
vot.feature_votes_

,Variable_Name,Information_Value,Random_Forest,Recursive_Feature_Elimination,Extra_Trees,Chi_Square,L_One,Votes
0,duration,1,1,0,1,1,0,4
2,previous,1,0,1,0,1,1,4
4,age,0,1,1,1,0,0,3
1,pdays,1,0,0,0,1,0,2
3,balance,0,1,0,1,0,0,2
5,campaign,0,0,1,0,0,1,2
6,day,0,0,0,0,0,1,1

In [146]:
vot.transform( X ).head()

   duration  previous  age  pdays  balance  campaign  day
0        79         0   30     -1     1787         1   19
1       220         4   33    339     4789         1   11
2       185         1   35    330     1350         1   16
3       199         0   30     -1     1476         4    3
4       226         0   59     -1        0         1    5